extends layout

block content
    p Copy and Paste from the List View of EVE Online's Hanger or simply list items and amounts
    p Exmples of listing items and amounts:
    ol
        li Clear Icicle x10
        li Krystallos 13
        li 3 Scordite
        li 65x Mercoxit
        li Iridescent Gneiss
        li Massive Scordite
    form(method='post')
        textarea(name='data')
        input(type='submit',value='Submit')
